{% extends 'index.html' %}
{% block home %}{% endblock %}
{% block content %}

<section class="section">
<div class="section-header">
    <div class="col-sm-4"><h1>Selection Summary</h1> </div>
  <!--    {% if cp %}<div class="col-sm-6 float-right"> Working Project Name :- {{ cp.project_name }} </div>{% endif %} -->
</div>
<div class="section-body">
    <form method="GET" action="/download/">
    {% csrf_token %}
        <div class="row">
            <div class="col-sm-2 text-primary"><label>Project Summary</label></div>
            <div class="col-sm-10 float-right"><button class="float-right btn btn-primary" value="Print">Download Report</button></div>
        </div>
        <div class="container">
        <div class="row">
            <div class="col-sm-2"><label><strong>Project Name: </strong></label></div>
            <div class="col-sm-3">{{cp.project_name}}</div>
            <div class="col-sm-2"><label><strong>Project Date: </strong></label></div>
            <div class="col-sm-2">{{cp.project_date}}</div>
        </div>
        <div class="row">
            <div class="col-sm-2"><label><strong>Project Number: </strong></label></div>
            <div class="col-sm-3">{{cp.project_number}}</div>
            <div class="col-sm-2"><label><strong>Project Location: </strong></label></div>
            <div class="col-sm-2">{{cp.location}}</div>
        </div>
        <div class="row">
            <div class="col-sm-2"><label><strong>Project City: </strong></label></div>
            <div class="col-sm-3">{{cp.city}}</div>
            <div class="col-sm-2"><label><strong>Project State: </strong></label></div>
            <div class="col-sm-2">{{cp.state}}</div>
        </div>
        <div class="row">
            <div class="col-sm-2"><label><strong>Project Engineer: </strong></label></div>
            <div class="col-sm-3">{{cp.engineer}}</div>
            <div class="col-sm-2"><label><strong>Client Name: </strong></label></div>
            <div class="col-sm-2">{{cp.client_name}}</div>
        </div>
        <div class="row">
            <div class="col-sm-2"><label><strong>Consultant Name: </strong></label></div>
            <div class="col-sm-3">{{cp.consultant_name}}</div>
            <div class="col-sm-2"><label><strong>Prepared By: </strong></label></div>
            <div class="col-sm-2">{{cp.prepared_by}}</div>
        </div>
        <div class="row">
            <div class="col-sm-2"><label><strong>Notes/Remarks: </strong></label></div>
            <div class="col-sm-7">{{cp.remarks}}</div>
        </div>
        </div>

    </form><br><label class="text-primary">Selection Summary</label><br>
    <div class="row">
    <div class="col-12">
        <div class="activities">
            {% if cart %}
            <table class="table table-bordered table-condensed table-light table-hover">
        <thead align="center">
            <th width="100">Tag   </th>
            <th>Qty</th>
            <th>AHU</th>
            <th>VAV Size</th>
            <th>Design Airflow</th>
            <th>Min Airflow</th>
            <th>Atten.</th>
            <th>Outlet Type</th>
            <th>Insulation</th>
            <th>Controls</th>
        </thead>
        <tbody align="center" style="border-color:red;">
        {% for c in cart %}
           <!--<td><strong>{{ forloop.counter }} </strong></td>-->
        <tr>
            <td><strong>{{c.tag|default_if_none:""}}</strong></td>
            <td><strong>{{c.quantity|default_if_none:""}}</strong></td>
            <td><strong>{{c.ahu|default_if_none:""}}</strong></td>
            <td><strong>{{c.vav_size}}</strong></td>
            <td><strong>{{c.design_airflow}}</strong></td>
            <td><strong>{{c.min_airflow}}</strong></td>
            <td><strong>{{c.attenuator}}</strong></td>
            <td><strong>{{c.outlet_type}}</strong></td>
            <td><strong>{{c.insulation}}</strong></td>
            <td><strong>{{c.controls|default_if_none:""}}</strong></td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
        <!--
        {% for c in cart %}
        <div class="activity">
           <div class="activity-icon bg-primary text-white shadow-primary">
            <i class="fas fa-id-card"></i>
            </div>
            <div class="activity-detail">
                <div> VAV - Size {{c.vav_size}} </div>
                <div style="color:orange;">Design Airflow - {{c.design_airflow}} </div>
                <div style="color:orange;">Minimum Airflow - {{c.min_airflow}} </div>
                <div style="color:orange;">Attenuator - {{c.attenuator}} </div>
                <div style="color:orange;">Outlet Type - {{c.outlet_type}} </div>
                <div style="color:orange;">Insulation - {{c.insulation}} </div>
                <div style="color:orange;">Controls - {{c.controls}} </div>
            </div>
        </div>
        {% endfor %}
        -->
            {% endif %}
        </div>
    </div>
    </div>
</div>
</section>
{% endblock%}