{% extends 'index.html' %}
{% block home %}{% endblock %}
{% block content %}

<section class="section">
  <div class="section-header">
      <div class="col-sm-3"> <h1>VAV Selection</h1> </div>
      {% if current_project %}<div class="col-sm-6" align="center"> <strong>Project Name :- </strong> &nbsp; {{ current_project }} </div>{% endif %}
  </div>
  <div class="section-body">
        <form method="POST" action="/test/">
        {% csrf_token %}
            <div class="form-group row">
          <label class="col-sm-1 col-form-label">Tag</label>
        <div class="col-md-2">
            <input type="text" class="form-control" id="tag" name="tag"
                        value="{{tag}}">
        </div>
          <div class="col-sm-1"></div>
          <label class="col-sm-1 col-form-label">Quantity</label>
          <div class="col-sm-2">
                <input type="text" class="form-control" id="quantity" name="quantity"
                        value="{{quantity}}">
            </div>
          <div class="col-sm-1"></div>
          <label class="col-sm-1 col-form-label">AHU</label>
          <div class="col-sm-2">
                <input type="text" class="form-control" id="ahu" name="ahu"
                        value="{{ahu}}">
            </div>
      </div>
<br>
      <div class="form-group row">
          <input type="hidden" id="pid" name="pid" value="{{current_pid}}"/>
        <label class="col-sm-1 col-form-label">Size</label>
        <div class="col-sm-2">
          <div class="controls">
                        <select class="form-control input-sm" name="size" id="size" data-rel="chosen" >
                        <option selected>Auto</option>
                        </select>
                        </div>
        </div>
          <div class="col-sm-1"></div>
          <label class="col-sm-1 col-form-label">Design Airflow</label>
          <div class="col-sm-2">
                <input type="text" class="form-control" id="airflow" name="airflow"
                       required value="{{airflow_input}}">
            </div>
          <label class="col-sm-1 col-form-label mt-1">CFM</label>
          <label class="col-sm-1 col-form-label">Minimum Airflow</label>
          <div class="col-sm-2">
                <input type="text" class="form-control" id="min_airflow" name="min_airflow"
                       value="{{min_airflow}}">
            </div>
          <label class="col-sm-1 col-form-label mt-1">CFM</label>
      </div>
            <input type="hidden" id="staff_id" name="staff_id">

        <div class="form-group row">
            <label class="col-sm-1 col-form-label">Attenuator</label>
          <div class="col-sm-2">
          <div class="controls">
                        <select class="form-control input-sm" name="attenuator" id="attenuator" data-rel="chosen">
                            {%if attenuator == 'Yes'%}<option selected>{%else%}<option>{%endif%}Yes</option>
                            {%if attenuator == 'No'%}<option selected>{%else%}<option>{%endif%}No</option>
                        </select>
                        </div>
        </div><div class="col-sm-1"></div>
             <label class="col-sm-1 col-form-label">Outlet Type</label>
          <div class="col-sm-2">
          <div class="controls">
                        <select class="form-control input-sm" name="outlet_type" id="outlet_type" data-rel="chosen" >
                         {%if outlet_type == 'Standard Outlet'%}<option selected>{%else%}<option>{%endif%}Standard Outlet</option>
                         {%if outlet_type == 'Multiple Outlet'%}<option selected>{%else%}<option>{%endif%}Multiple Outlet</option>
                         {%if outlet_type == 'Round Discharge'%}<option selected>{%else%}<option>{%endif%}Round Discharge</option>
                         {%if outlet_type == '1 meter Attenuator'%}<option selected>{%else%}<option>{%endif%}1 meter Attenuator</option>
                        </select>
                        </div>
        </div>
            <div class="col-sm-1"></div>
            <label class="col-sm-1 col-form-label">Insulation</label>
          <div class="col-sm-2">
          <div class="controls">
                        <select class="form-control input-sm" name="insulation" id="insulation" data-rel="chosen" >
                         {%if insulation == '1" Fibre glass'%}<option selected>{%else%}<option>{%endif%}1" Fibre glass</option>
                         {%if insulation == '1/2" Fibre glass'%}<option selected>{%else%}<option>{%endif%}1/2" Fibre glass</option>
                        </select>
                        </div>
        </div>
        </div>
        <div class="form-group row">

            <label class="col-sm-1 col-form-label">Controls</label>
          <div class="col-sm-2">
          <div class="controls">
                        <select class="form-control input-sm" name="controls" id="controls" data-rel="chosen" >
                         {%if controls == 'None'%}<option selected>{%else%}<option>{%endif%}None</option>
                         {%if controls == 'PrudentAire ZoneEase'%}<option selected>{%else%}<option>{%endif%}PrudentAire ZoneEase</option>
                         {%if controls == 'Belimo ZoneEase'%}<option selected>{%else%}<option>{%endif%}Belimo ZoneEase</option>
                         {%if controls == 'Honeywell'%}<option selected>{%else%}<option>{%endif%}Honeywell</option>
                         {%if controls == 'Siemens'%}<option selected>{%else%}<option>{%endif%}Siemens</option>
                        </select>
                        </div>
        </div>

            </div>
            <div class="col-sm-11 m-3" align="center">
          <button type="submit" id="getdata" class="btn btn-primary">Calculate</button>
        </div>
        </form>


        <div class="form-group row">
                <label class="col-sm-2 col-form-label"></label>
           <!-- <div class="col-sm-10">
            <input type="submit" name="button" value="View Report" id="updatebtn" disabled style="height:35px" class="btn btn-primary btn-sm col-sm-1"/>
            </div>-->
            </div>
{% if data %}
      <form method="POST" action="/disp/">
        {% csrf_token %}
            <div class="row">
    <div class="col-md-12 ">
        <table class="table table-bordered table-condensed table-light table-hover">
        <thead align="center">
            <th>Size (inch)</th>
            <th>Discharge NR</th>
            <th>Radiated NR</th>
            <th>View</th>
            <th>Select</th>
            <th></th>
            <th></th>
            <th></th>
        </thead>
        <tbody align="center" style="border-color:red;">
        {% for rows,d,r in data %}
           <!--<td><strong>{{ forloop.counter }} </strong></td>-->
        <tr>
            <td><strong>{{ rows.size_inch }}</strong></td>
            <td><strong>{{ rows.discharge_nr }}</strong></td>
            <td><strong>{{ rows.radiated_nr }}</strong></td>
            <td><a class="btn btn-primary" data-toggle="collapse" href="#collapseExample{{ forloop.counter }}" role="button" aria-expanded="false" aria-controls="collapseExample{{ forloop.counter }}">
                        Expand
                      </a>
            </td>
            <td>{% if current_project %}
                <button name="addVav" value="{{rows.size_inch}}^{{rows.cfm}}^{{rows.discharge_nr}}^{{rows.radiated_nr}}"
                        type="submit" id="add" class="btn btn-primary mt-1" >Add</button>
                {%else%}
                <button class="btn btn-primary mt-1" disabled>Add</button>
                {% endif %}
            </td>
          <!--  <td><a href="" class="btn btn-primary btn-xs">Add</a> </td> -->
            <td></td>
            <td></td>
            <td></td>


        <tr class="collapse" id="collapseExample{{ forloop.counter }}" align="center" bgcolor="#b0cbf7">

            <td><b>Discharge<br> Acoustic Data</b></td>
            <td><b>125Hz</b><br><br>{{ d.Hz125 }}<br><br></td>
            <td><b>250Hz</b><br><br>{{ d.Hz250 }}<br><br></td>
            <td><b>500Hz</b><br><br>{{ d.Hz500 }}<br><br></td>
            <td><b>1000Hz</b><br><br>{{ d.Hz1000 }}<br><br></td>
            <td><b>2000Hz</b><br><br>{{ d.Hz2000 }}<br><br></td>
            <td><b>4000Hz</b><br><br>{{ d.Hz4000 }}<br><br></td>
            <td><b>NR</b><br><br>{{ d.NR }}<br><br></td>
        </tr>
        <tr class="collapse" id="collapseExample{{ forloop.counter }}" align="center" bgcolor="#b0cbf7">

            <td><b>Radiated<br> Acoustic Data</b></td>
            <td><b>125Hz</b><br><br>{{ r.Hz125 }}<br><br></td>
            <td><b>250Hz</b><br><br>{{ r.Hz250 }}<br><br></td>
            <td><b>500Hz</b><br><br>{{ r.Hz500 }}<br><br></td>
            <td><b>1000Hz</b><br><br>{{ r.Hz1000 }}<br><br></td>
            <td><b>2000Hz</b><br><br>{{ r.Hz2000 }}<br><br></td>
            <td><b>4000Hz</b><br><br>{{ r.Hz4000 }}<br><br></td>
            <td><b>NR</b><br><br>{{ r.NR }}<br><br></td>
        </tr>

        {% endfor %}

        </tbody>
        </table>
        <br>

    </div>
    </div>
      </form>
      {% endif %}
  </div>
</section>
{% endblock %}